@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'shrikhandregular';
    src: url('fonts/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('fonts/shrikhand/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

/*------------------------------------Header-------------------------------*/
h1{
    font-family:'shrikhandregular';
    font-weight:bold;
    font-style: italic;
    text-align:center;
    background-color:white;
}
/*-----------------------------------Nav------------------------------------*/
nav{
    text-align:center;
    background-color:#EEEEEE;
    text-align: center;
}
.localisation{
    display:block;
    background-color: #E0E0E0;
    text-align: center;
    
}
/*-----------------------------------Body----------------------------------*/
body{
    font-family:'robotoregular';
    width:100%;
}
/*-----------------------------------Aside----------------------------------*/
ol{
    list-style:none;
    padding:0;
}
ol li{
    background-color:#EEEEEE;
    text-align: justify;
    font-weight:bold;
    border-radius:13px;
    margin: 15px;
    padding:10px;
    box-shadow: 0 5px 3px #BDBDBD;
    position: relative;
}
ol li::before{
    content:"1";
    background-color: $primary;
    color:white;
    border-radius:50% 50%;
    display:block;
    position: absolute;
}
/*-----------------------------------Main-----------------------------------*/
main{
    background-color:#EEEEEE;
}
img{
    width: 100%;
    height: auto;
}
ul{
    list-style:none;
    margin-left: 0;
    padding-left: 0;
}
ul li{
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
}
ul li::after{
        content:"new";
        background-color: $tertiary;
        color:#00BFA5;
}
/*-----------------------------------Footer--------------------------------*/
footer{
    background-color:black;
    color:white;
    text-align:left;
    padding: 20px;
}
h3{
    margin-bottom:10px;
    margin-top:5px;
    font-style: italic;
}